.payments{
    background-color: #EAEDED;
    min-height: 91.5vh;
}
.payment__container{
    background-color: white ;

}
.payment__container > h1{
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234,237,237);
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
.payment__container > h1 > a{
    text-decoration: none;
    color: black;
}
.payment__section{
    display: flex;
    padding:20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}
.pay__title{
    flex:0.2;
}
.pay__address,.pay__orders,.pay__details{
    flex:0.8;
}
.CardElement{
display: flex;
}
